body {
  margin: 0;
  padding: 0;
  font-family: "Catamaran", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ant-pagination-item a {
  color: white !important; 
} 

.ant-pagination-prev .ant-pagination-item-link svg, 
.ant-pagination-next .ant-pagination-item-link svg {
    fill: white !important; 
}

.ant-pagination-item-ellipsis {
  color: white !important; 
}

.ant-pagination-item-active a {
  color: black !important; 
} 
@media (max-width: 600px) {
   .ant-pagination-options {
      display: block !important; 
  }
}

@media (max-width: 600px) {
  .ant-table .ant-table-cell {
    max-width: 95px; 
  }
}
.custom-carousel .slick-dots {
  position: relative; 
  bottom: -25px; 
  width: 100%; 
}





@tailwind base;
@tailwind components;
@tailwind utilities;

